body {
      width: 300px;
      padding: 15px;
      font-family: Arial, sans-serif;
    }
    label, input, button {
      display: block;
      width: 292px;
      margin-bottom: 10px;
      margin: 0px;
      padding: 0px;
    }
    label{
      padding-bottom: 10px;
      padding-top: 5px;
    }
    button {
      background-color: #4285f4;
      color: white;
      border: none;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    .header{
      display: flex;
      align-items: center;
    }
    .header h2{
      text-align: center;
      padding-bottom: 12px;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-left: 15px;
      padding-bottom: 0px;
    }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:red;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: rgb(72, 201, 72);
    }

    input:focus + .slider {
      box-shadow: 0 0 1px rgb(72, 201, 72);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    .status {
      margin-top: 10px;
      padding: 5px;
      text-align: center;
    }
    .success {
      background-color: #d4edda;
      color: #155724;
    }
    .error {
      background-color: #f8d7da;
      color: #721c24;
    }
    .show{
      display: flex;
      align-items: center;
      padding: 0px;
      margin: 0px;
    }
    .show p{
      margin-left: 10px;
    }
    .showPSW{
      width: 25px;
      height: 25px;
      margin: inherit;
      padding: inherit;
    }